* {
    font-family:'Courier New', Courier, monospace;
    color: var(--secondary-color)
}
:root{
    --secondary-color: #0bb5f4;
    --primary-color: #FCF7F8;
    --text-color: #fff;
    
}

body {
    background-color: var(--primary-color);
}

#topnavwrapper {
    position: relative;
    top: 20px;
    left: 0px;
    width: 101,1%;
    height: 47px;
    margin: -8px;
    background-color: var(--secondary-color);
}

.topnav {
    overflow: hidden;
    background-color: var(--secondary-color);
}

.topnav a {
    float: left;
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #0e87b3;
    color: var(--text-color);
}

.header {
    width: 101.1%;
    height: 250px;
    background-color: var(--secondary-color);
    background-size: cover;
    position: relative;
    margin: -8px;
}

.header p {
    color: var(--text-color);
}

.header-projects {
    width: 101.1%;
    height: 150px;
    background-color: var(--secondary-color);
    background-size: cover;
    position: relative;
    margin: -8px;
}

.header-projects p {
    color: var(--text-color);
}

.header-txt {
    padding: 5px 5px;
    width: 60%;
    height: 240px;
}

.header-txt h1 {
    color: var(--text-color);
    font-size: 40px;
    font-weight: bold;
}

.header-txt h2 {
    color: var(--text-color);
    
}

#wrapper {
    position: relative;
    top: 40px;
    width: 100%;
    height: 550px;
}

.bodylink {
    text-decoration: none;
    color: var(--secondary-color);
}

.bodylink:hover {
    color: grey;
}

.bio {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 30%;
    padding: 5px;
}

.werkervaring {
    position: absolute;
    top: 20px;
    left: 33%;
    width: 30%;
    padding: 5px;
}

.opleiding {
    position: absolute;
    top: 20px;
    left: 66%;
    width: 30%;
    padding: 5px;
}

.vaardigheden {
    position: absolute;
    top: 150px;
    left: 66%;
    width: 30%;
    padding: 5px;
}

.titleline {
    border-bottom: 3px solid var(--secondary-color);
}

.titleline2 {
    border-bottom: 3px solid var(--text-color);
}

.footer {
    width: 101.1%;
    height: 250px;
    background-color: var(--secondary-color);
    background-size: cover;
    position: relative;
    margin: -8px;
}

.footer p {
    color: var(--text-color);
}

.footer h2 {
    color: var(--text-color);
}

.footer b {
    color: var(--text-color);
}
.contact {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30%;
    padding: 5px;
}

.footerlink {
    text-decoration: none;
    color: var(--text-color);
}

.footerlink:hover {
    color: darkblue;
}

/* projects page */
.projecttemplate {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 30%;
    padding: 5px;
}